#inicio-boton{
    display: none;
}
#hoy-boton{
    display: none;
}
#message{
    display: none;
}

.navbar_pinterest_buttons_container{
    width: 20%;
    background-color: #FFFFFF;
    /* display: flex; */
    /* align-content: center; */
    /* flex-wrap: wrap; */
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 5rem;
    width: 30%;
}
.navbar_user_buttons_container{
    width: 20%;
    background-color: #FFFFFF;
    border-radius: 30px;
}
.pin_container {
    margin: 0;
    padding: 0;
    width: 60%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: grid; /*permite manejar columnas y filas*/
    grid-template-columns: repeat(auto-fill, var(--card_width));/*Permite responsividad entre las tarjetas*/
    grid-auto-rows: var(--row_increment);
    justify-content: center;
    margin-top: 5rem;
    background-color: #FFFFFF;
}