* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 16px; /*Equivalencia a 1rem */
}
@font-face {
    font-family: PINTE;
    src: url('assets/fonts/FreeSansBold.ttf');
}
:root {
    --card_width: 15.625rem;
    /*~250px Anchura de la tarjeta/pin */
    --row_increment: 0.625rem;
    /*~10px Al estar usando CSS grid, cada tarjeta/pin estará hecha con incrementos de 10px para las filas */
    --card_border_radius: 1rem;
    /*~16px  Redondeo en los bordes de las tarjetas/pines*/
    --card_small: 26;
    /* Factor de crecimiento para tarjetas pequeñas: 26*0.625rem */
    --card_medium: 33;
    /* Factor de crecimiento para tarjetas medianas: 26*0.625rem */
    --card_large: 45;
    /* Factor de crecimiento para tarjetas grandes: 26*0.625rem */
}

main {
    height: 100vh;
    width: 100%;
    background-color: #FFFFFF;
}

#navbar-pinterest{
    height: 5rem;
    background-color: #FFFFFF;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
    align-items: center;
}
.navbar_pinterest_buttons_container{
    width: 20%;
    background-color: #FFFFFF;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.navbar_input_search_container{
    flex-grow: 4;
    min-width: 3rem;
    background-color: #FFFFFF;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    max-width: 60%;
}
.navbar_input_search {
    padding-inline-start: 0.6rem;
    padding-inline-end: 0.6rem;
    height: 3rem;
    width: 100%;
    background-color: #E9E9E9;
    border-radius: 1.5rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.navbar_input_search>svg{
    height: 2rem;
}

.navbar_input_search>input{
    height: 2rem;
    flex-grow: 3;
    border-radius: 1.5rem;
    border-style: none;
    background-color: #E9E9E9;
    outline: none;
}

.navbar_user_buttons_container{
    width: 14rem;
    background-color: #FFFFFF;
}
.pin_container {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: grid; /*permite manejar columnas y filas*/
    grid-template-columns: repeat(auto-fill, var(--card_width));/*Permite responsividad entre las tarjetas*/
    grid-auto-rows: var(--row_increment);
    justify-content: center;
    margin-top: 5rem;
    background-color: #FFFFFF;
}

.card-image {
    position: relative;
    padding: 0;
    margin: 15px 10px;
    border-radius: var(--card_border_radius);
    background-color: #E60023;
    overflow: hidden;
}.card-image:hover{
    opacity: 0.3;
    transition: 0.5s;
}

.card-content{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    background-color: #E60023;
    border-radius: var(--card_border_radius);
}

.guardar, .opciones{
    width: 100%;
    height: 100%;
    /* padding-top: 0.5rem; */
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* align-content: center; */
    opacity: 0;
    color: #FFFFFF;
    transition: opacity 0.3s ease-in-out;
    border-radius: var(--card_border_radius);
}.guardar:hover, .opciones:hover{
    opacity: 1;
}
.elementos-hover{
    width: 100%;
    height: 100%;
    /* padding-top: 0.5rem; */
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* align-content: center; */
    opacity: 0;
    color: #FFFFFF;
    transition: opacity 0.3s ease-in-out;
    border-radius: var(--card_border_radius);
}.elementos-hover:hover{
    opacity: 1;
}
.opciones > svg{
    background-color: #E9E9E9;
    height: 2.5rem;
    fill: #111111;
    border-radius: 30px;
    padding: 0.5rem;
    float: right;
    position: relative;
    top: 88%;
    margin-bottom: 20%;
    margin-right: 10%;
}
.elementos-hover >div > svg{
    background-color: #E9E9E9;
    height: 2.5rem;
    fill: #111111;
    border-radius: 30px;
    padding: 0.5rem;
    float: right;
    position: relative;
    top: 88%;
    /* margin-bottom: 20%; */
    margin-right: 10%;
}
#crear-boton > svg{
    height: 1.3rem;
    fill: #111111;
    border-radius: 10px;
}
.card_small {
    grid-row-end: span var(--card_small);
}

.card_medium {
    grid-row-end: span var(--card_medium);
}

.card_large {
    grid-row-end: span var(--card_large);
}

.card-content> img{
    image-rendering:optimizeSpeed;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: var(--card_border_radius);
}

.icono{
    height: 1rem;
    width: 1rem;
    float: right;
    color: #5F5F5F;
    color-scheme: #5F5F5F;
    background-color: #5F5F5F;
}
.Pinterest-icon{
    fill: #E60023;
    height: 3rem;
}

#pinteres-icon,#inicio-boton, #hoy-boton, #crear-boton{
    align-content: center;
    margin: auto;
    
}#inicio-boton :hover, #hoy-boton :hover, #crear-boton :hover{
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 30px;
    fill: #FFFFFF;
}
p, input>::placeholder{
    font-family: PINTE;
    font-size: 1rem;
    font-weight:bold;
    padding: 1rem;
}

#inicio-boton,#hoy-boton,#crear-boton {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar_user_buttons_container{
    display: flex;
    flex-wrap: wrap;
    height: 5rem;
    width: 20%;
}

.navbar_user_buttons_container > div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    
}.navbar_user_buttons_container_icon:hover{
    background-color: #E9E9E9;
    border-radius: 50px;
}

.navbar_user_buttons_container_icon{
    width: 4rem;
    fill: #5F5F5F;
    padding: 1rem;
    margin: auto;
}

.save{
    background-color: #E60023;
    border-radius: 30px;
    float: left;
    margin-top: 1rem;
    margin-left: 1rem;
    color: #FFFFFF;
}

.target-below{
    display: flex;
    width: 100%;
    justify-content: end;
    /* padding-top: 80%; */
    border-radius: 50%;
    align-items: end;
    margin-top: auto;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}
.tres-puntos, .boton-flecha{
    min-height: 2rem;
    min-width: 2rem;
    border-radius: 50%;
    background-color: #E9E9E9;
    border: 0;
    color: black;
    margin-inline-start: .5rem;
    touch-action: manipulation;
    cursor: pointer;
}

.tres-puntos-ico , .boton-flecha-ico{
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.5rem;
}